/*---------------------------INDEX MQ------------------------------*/

/*---------------------------Media queries pantalla SM*/
@media (max-width: 768) {
  #intro {
    width: 90% !important;
  }
}

/*---------------------------NOSOTROS MQ------------------------------*/

/*---------------------------Media queries pantalla SM*/
@media (max-width: 768) {
  #section-nosotros {
    width: 90% !important;
  }
}

/*---------------------------SUCURSALES MQ------------------------------*/

@media (max-width: 768) {
  #section-sucursales {
    width: 90% !important;
  }
}

/*---------------------------CONTACTO MQ------------------------------*/

@media (max-width: 768) {
  #section-contac {
    width: 90% !important;
  }
}

/*---------------------------BURGUER DEL MES MQ------------------------------*/

@media (max-width: 768) {
  #section-mes {
    width: 90% !important;
  }
}
